@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Ethan Gruenemeier  
   Date: 11.29.18
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/
html {
    background-color: #415B76;
}

body {
    max-width: 1100px;
    min-width: 700px;
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 1em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}

/* Styles for the topnav */
@media only screen and (min-width: 481px) {
    #topnav {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    #topnav li,
    .dropdown {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

ul#topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #233656;
}

ul#topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#topnav li a:hover {
    background-color: #415B76;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 10%;
}

.drop-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .drop-content {
    display: block;
}

/* Other Content */
header,
footer {
    width: 100%;
}

article {
    -webkit-flex: 3 1 361px;
    flex: 3 1 361px;
}

aside {
    align-items: flex-start;
    -webkit-flex: 1 1 120px;
    flex: 1 1 120px;
}

@media only screen and (max-width: 480px) {
    aside {
        -webkit-order: 99;
        order: 99;
    }

    footer {
        -webkit-order: 100;
        order: 100;
    }
}